@{
    ViewData["Title"] = "CONTACT ME";
}

<div class="d-flex justify-content-center p-4">
    <div class="border rounded-3 p-4 shadow-sm form-box">
        <div class="mb-3">
            <label class="form-label name">Name</label>
            <input type="text" class="form-control name-input" placeholder="Reina Chloe Magpantay">
        </div>
        <div class="mb-3">
            <label class="form-label email">Email address</label>
            <input type="email" class="form-control email-input" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label class="form-label message">Message</label>
            <textarea class="form-control message-input" rows="3"></textarea>
        </div>
        <div class="mt-5">
            <button class="btn btn-lg submit-btn" type="submit">Submit</button>
        </div>
    </div>
</div>